
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color:#88c1d2;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul, li {
  margin:0;
  padding: 0;
}

header {
  text-align: center;
}
ul {
  list-style: none;
}

dt {
  font-size: 1.5em
}
dd {
  margin: 0;
  color: grey;
}
button {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  padding: 0.25em 0.5em;
  color: #666;
  border: none;
  background: #88c1d2;
}
button:hover {
  color: #888;
}
input {
   font-size: 1rem;
  font-family: Helvetica, sans-serif;
  padding: 0.5em 1em;
}
.container {
  width:95%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}
.date-box, .day-name {
  width:13.2%;
  margin:0.5%;
  text-align: center;
  display: inline-block;
}
.date-box {
  background-color: gray;
  border-radius: 2px;
  height:60px;
  padding: 0.5em;
  overflow:hidden;
  position:relative;
}
.date-box:hover {
  background-color: #ccc;
}
.date-box time {
  position: absolute;
  font-size: 1rem;
  top: 0.5em;
  left: 0.5em;
}
.selected {
  border: 4px solid #88c1d2;
}
.today {
  background-color: #666;
}

.day-name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.events {
  padding: 1em;
  border: 1px solid #ccc;  
}
.event-list li {
  margin: 1em 0;
}
.invisible {
  visibility: hidden;
}
.transparent {
  opacity:0.5;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}